.container {
    width: 50%;
    margin: 0 auto;
    text-align: center;
  }
  
  h1 {
    font-size: 36px;
  }
  
  form {
    margin-top: 50px;
  }
  
  label {
    display: block;
    font-size: 24px;
    margin-bottom: 20px;
  }
  
  input[type="number"] {
    display: block;
    margin: 0 auto;
    font-size: 24px;
    padding: 10px;
    border: 2px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    width: 100%;
    max-width: 400px;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
  
  input[type="submit"] {
    display: block;
    margin: 20px auto 0;
    font-size: 24px;
    padding: 10px;
    border-radius: 4px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    width: 200px;
  }
  