@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --back-top: url('/static/images/back-top.png');
  --finished: url('/static/images/finished.png');
  --list: url('/static/images/list.png');
  --create: url('/static/images/create.png');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins';
  font-weight: 400;
}

.container {
  overflow: hidden;
  background-image: var(--back-top);
  background-position: top center;
  background-repeat: no-repeat;
}

.underline {
  border-bottom: 5px solid rgb(0, 255, 171);
}

.hidden {
  display: none;
}

/* input type number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* MAIN STYLE */

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  background-color: transparent;
  background-size: cover;
  box-sizing: border-box;
  z-index: 999;
}

.navbar a {
  color: rgb(255,250,250);
  display: flex;
  align-items: center;
  height: 10vh;
}

.navbar a:hover {
  color: rgb(255,250,250, 0.8);
  text-decoration: underline;
}

.navbar .nav-links ul {
  display: flex;
  height: 10vh;
}

.navbar .nav-links ul li {
  margin: 0 30px;
}

.navbar .nav-links ul li.acc-links a {
  color: rgb(0, 255, 171);
  font-weight: 700;
}

.navbar .nav-links ul li.acc-links a:hover {
  color: rgb(0, 255, 170, 0.7);
}

.navbar .menu-btn {
  position: absolute;
  right: 20px;
  width: 60px;
}

/* MAIN APP */

/* MAIN NAVIGATOR */

.main {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  height: 90vh;
  width: 100vw;
}

.main button {
  width: 150px;
  height: 40px;
  font-size: 1em;
  font-weight: 600;
  color: rgb(255,250,250);
  border: none;
  border-radius: 2em;
  background-color: rgb(20, 195, 142);
  margin: 0.5em;
}

.main button:hover {
  background-color: rgb(18, 172, 125);
}

.main .create {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.main .create h1 {
  color: rgb(255,250,250);
  text-shadow: 2px 1px 3px rgb(0,0,0, 0.5);
}

.main .create .create-img {
  display: flex;
  width: 233px;
  height: 233px;
  background-image: var(--create);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main .list {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.main .list h1 {
  color: rgb(255,250,250);
  text-shadow: 2px 1px 3px rgb(0,0,0, 0.5);
}

.main .list .list-img {
  display: flex;
  width: 233px;
  height: 233px;
  background-image: var(--list);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.main .finished {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  height: 600px;
}

.main .finished h1 {
  color: rgb(255,250,250);
  text-shadow: 2px 1px 3px rgb(0,0,0, 0.5);
}

.main .finished .finished-img {
  display: flex;
  width: 233px;
  height: 233px;
  background-image: var(--finished);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

/* OPTIONS */

/* CREATE */

.goals-create {
  display: flex;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

.goals-create .wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 3em;
  border-radius: 1em;
}

.goals-create .wrapper .goals-title {
  color: rgb(255,250,250);
  text-shadow: 2px 1px 3px rgb(0,0,0, 0.5);
  text-align: center;
  padding-bottom: 1em;
  font-size: 1.6em;
}

.goals-create .wrapper form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1em;
}

.goals-create .wrapper form input {
  text-align: center;
  margin-bottom: 1em;
  padding: 1em;
  border-radius: 2em;
  border: 2px solid rgb(184, 241, 176);
  background-color: rgb(255,250,250);
  font-size: 0.8em;
}

.goals-create .wrapper form input:focus {
  outline: none;
}

.goals-create .wrapper form button {
  width: 150px;
  height: 40px;
  font-size: 1em;
  font-weight: 600;
  color: rgb(255,250,250);
  border: none;
  border-radius: 2em;
  background-color: rgb(20, 195, 142);
  margin: 0.5em;
}

.goals-create .wrapper form button:hover {
  background-color: rgb(18, 172, 125);
}

.goals-create .wrapper .back-btn1 button {
  width: 100px;
  height: 30px;
  font-size: 1em;
  font-weight: 600;
  color: rgb(255,250,250);
  border: none;
  border-radius: 2em;
  background-color: #A9A9A9;
}

.goals-create .wrapper .back-btn1 button:hover {
  background-color: #9c9c9c;
}

/* LIST */

.goals-list {
  display: flex;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

/* FINISHED */

.goals-finished {
  display: flex;
  height: 90vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

/* select */

.source-select {
  color: rgb(255,250,250);
  text-align: center;
  font-weight: 700;
  font-size: 0.9em;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0.5em 0.5em;
  padding-bottom: 1em;
  width: 60%;
  cursor: pointer;
}

.source-select:focus {
  outline: none;
  box-shadow: none;
}

.source-select:hover {
  color: rgb(255,250,250, 0.85);
}

.source-select option {
  color: rgb(0,0,0);
  background-color: rgb(255,250,250);
}

/* MEDIA */

/* ##################################### MOBILE 0px (320px) — 480px ##################################### */

@media only screen and (min-width: 0px) and (max-width: 480px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}

/* ####################################### PORTRAIT TABLET 481px — 767px ####################################### */

@media only screen and (min-width: 481px) and (max-width: 767px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}

/* ###################################### LANDSCAPE TABLET 768px — 1023px ###################################### */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}


/* ##################################### DESKTOP 1024px — 1439px ###################################### */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}

/* ######################################## LARGE DESKTOP ######################################## */

@media only screen and (min-width: 1440px) {
  
  .menu-btn {
    display: none;
  }

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}