@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --background-image: url('');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins';
  font-weight: 400;
}

.container {
  overflow: hidden;
}

/* MAIN STYLE */

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgb(20, 195, 142, 1);
  background-size: cover;
  box-sizing: border-box;
  z-index: 999;
}

.navbar a {
  color: rgb(255,250,250);
}

.navbar a:hover {
  color: rgb(255,250,250, 0.7);
  text-decoration: underline;
}

.navbar .nav-links ul {
  display: flex;
}

.navbar .nav-links ul li {
  margin: 0 30px;
}

.navbar .nav-links ul li.acc-links a {
  color: rgb(0, 255, 171);
  font-weight: 700;
}

.navbar .nav-links ul li.acc-links a:hover {
  color: rgb(0, 255, 170, 0.7);
  text-decoration: underline;
}

.navbar .menu-btn {
  position: absolute;
  right: 20px;
  width: 60px;
}

/* SECTION 1 */

.manage-section {
  display: flex;
  height: 90vh;
  width: 100vw;
  box-sizing: border-box;
  background-color: rgb(184, 241, 176);
}

.spend-section {

}

/* MEDIA */

/* ##################################### MOBILE 0px (320px) — 480px ##################################### */

@media only screen and (min-width: 0px) and (max-width: 480px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}

/* ####################################### PORTRAIT TABLET 481px — 767px ####################################### */

@media only screen and (min-width: 481px) and (max-width: 767px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}

/* ###################################### LANDSCAPE TABLET 768px — 1023px ###################################### */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}


/* ##################################### DESKTOP 1024px — 1439px ###################################### */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}

/* ######################################## LARGE DESKTOP ######################################## */

@media only screen and (min-width: 1440px) {
  
  .menu-btn {
    display: none;
  }

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}