@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
  --income-how: url('/static/images/income-how.png');
  --spend-how: url('/static/images/spend-how.png');
  --home-back: url('/static/images/home-back.png');
}

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  font-family: 'Poppins';
  font-weight: 400;
}

.container {
  overflow: hidden;
  background-image: var(--home-back);
  background-size: cover;
  background-position: center;
}

.underline {
  border-bottom: 5px solid rgb(0, 255, 171);
}

/* input type number */

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

/* ANIMATIONS */

@keyframes grow-circle {
  0% {
    transform: translate(-50%, -50%) scale(1);
    opacity: 1;
  }
  50% {
    transform: translate(-50%, -50%) scale(1.33);
    opacity: 0.5;
  }
  100% {
    transform: translate(-50%, -50%) scale(1.66);
    opacity: 0;
  }
}

/* MAIN STYLE */

/* NAVBAR */

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10vh;
  width: 100vw;
  max-width: 100%;
  background-size: cover;
  box-sizing: border-box;
  z-index: 999;
}

.navbar a {
  color: rgb(255,250,250);
  display: flex;
  align-items: center;
  height: 10vh;
}

.navbar a:hover {
  color: rgb(255,250,250, 0.8);
  text-decoration: underline;
}

.navbar .nav-links ul {
  display: flex;
  height: 10vh;
}

.navbar .nav-links ul li {
  margin: 0 30px;
}

.navbar .nav-links ul li.acc-links a {
  color: rgb(0, 255, 171);
  font-weight: 700;
}

.navbar .nav-links ul li.acc-links a:hover {
  color: rgb(0, 255, 170, 0.7);
}

.navbar .menu-btn {
  position: absolute;
  right: 20px;
  width: 60px;
}

/* MAIN APP */

.wrapper {
  display: flex;
}

/* INCOME SECTION */

.income-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 50vw;
  box-sizing: border-box;
  background: transparent;
}

.income-section button {
  width: 150px;
  height: 40px;
  font-size: 1em;
  font-weight: 600;
  color: rgb(255,250,250);
  border: none;
  border-radius: 2em;
  background-color: rgb(20, 195, 142, 0.8);
  margin: 0.5em;
}

.income-section button:hover {
  background-color: rgb(20, 195, 142, 1);
}

.income-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.income-section form input {
  margin: 0.5em;
  text-align: center;
  padding: 1em;
  border-radius: 2em;
  border: 2px solid rgb(184, 241, 176);
  background-color: rgb(255,250,250);
  font-size: 0.8em;
  z-index: 2;
}

.income-section form input:focus {
  outline: none;
}

.income-section form select {
  margin: 0.5em;
}

.income-section form .income-how {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 1em;
}

.income-section form .circle {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 230px;
  background-color: rgb(0, 255, 171);
  border-radius: 50%;
  z-index: 1;
}

.income-section form .circle-grow {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 230px;
  background-color: rgb(0, 255, 171);
  border-radius: 50%;
  animation: grow-circle 3s infinite;
}

.income-section form .income-how h1 {
  position: relative;
  z-index: 2;
  font-size: 3em;
  font-weight: 600;
  color: rgb(255,250,250);
  text-shadow: 2px 0px 1px rgb(0,0,0, 0.5);
}

.income-section .income-title {
  color: rgb(255,250,250);
  font-size: 1.5em;
  text-shadow: 3px 1px 3px rgb(45,215,41);
}

.income-section .time-range {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* SPEND SECTION */

.spend-section {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 90vh;
  width: 50vw;
  box-sizing: border-box;
  background: transparent;
}

.spend-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.spend-section form input {
  margin: 0.5em;
  text-align: center;
  padding: 1em;
  border-radius: 2em;
  border: 2px solid rgb(184, 241, 176);
  background-color: rgb(255,250,250);
  font-size: 0.8em;
  z-index: 2;
}

.spend-section form input:focus {
  outline: none;
}

.spend-section form select {
  margin: 0.5em;
}

.spend-section button {
  width: 150px;
  height: 40px;
  font-size: 1em;
  font-weight: 600;
  color: rgb(255,250,250);
  border: none;
  border-radius: 2em;
  background-color: rgb(20, 195, 142, 0.8);
  margin: 0.5em;
}

.spend-section button:hover {
  background-color: rgb(20, 195, 142, 1);
}

.spend-section form .spend-how {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 300px;
  width: 300px;
  margin: 1em;
}

.spend-section form .circle {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 230px;
  background-color: rgb(0, 255, 171);
  border-radius: 50%;
  z-index: 1;
}

.spend-section form .circle-grow {
  content: "";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 230px;
  height: 230px;
  background-color: rgb(0, 255, 171);
  border-radius: 50%;
  animation: grow-circle 3s infinite;
}

.spend-section form .spend-how h1 {
  position: relative;
  z-index: 2;
  font-size: 3em;
  font-weight: 600;
  color: rgb(255,250,250);
  text-shadow: 2px 0px 1px rgb(0,0,0, 0.5);
}

.spend-section .spend-title {
  color: rgb(255,250,250);
  font-size: 1.5em;
  text-shadow: 3px 1px 3px rgb(255,56,56);
}

/* SOURCE SELECT */

.source-select {
  color: rgb(255,250,250);
  text-align: center;
  font-weight: 700;
  font-size: 0.9em;
  appearance: none;
  border: none;
  background-color: transparent;
  padding: 0.5em 1em;
  width: 80%;
  cursor: pointer;
}

.source-select:focus {
  outline: none;
  box-shadow: none;
}

.source-select:hover {
  color: rgb(255,250,250, 0.85);
}

.source-select option {
  color: rgb(0,0,0);
  background-color: rgb(255,250,250);
}

/* MEDIA */

/* ##################################### MOBILE 0px (320px) — 480px ##################################### */

@media only screen and (min-width: 0px) and (max-width: 480px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}

/* ####################################### PORTRAIT TABLET 481px — 767px ####################################### */

@media only screen and (min-width: 481px) and (max-width: 767px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}

/* ###################################### LANDSCAPE TABLET 768px — 1023px ###################################### */

@media only screen and (min-width: 768px) and (max-width: 1023px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}


/* ##################################### DESKTOP 1024px — 1439px ###################################### */

@media only screen and (min-width: 1024px) and (max-width: 1439px) {

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}

/* ######################################## LARGE DESKTOP ######################################## */

@media only screen and (min-width: 1440px) {
  
  .menu-btn {
    display: none;
  }

  /* NAVBAR */
  /* SECTION 1 */
  /* SECTION 2 */
  /* SECTION 3 */
  /* FOOTER */

}