{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Turtle Spend</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/goals.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <div class="nav-links">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'history' %}">History</a></li>
                    <li><a href="{% url 'graphs' %}">Graphs</a></li>
                    <li class="underline"><a href="{% url 'goals' %}">Goals</a></li>
                    <li><a href="{% url 'tips' %}">Tips</a></li>
                    <li class="acc-links"><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            <img src="{% static 'images/menu-btn.png' %}" class="menu-btn">
        </nav>
        <div class="main">
            <div class="create">
                <div class="create-img"></div>
                <h1>Create Goal</h1>
                <button>Check</button>
            </div>
            <div class="list">
                <div class="list-img"></div>
                <h1>Active Goals</h1>
                <button>Check</button>
            </div>
            <div class="finished">
                <div class="finished-img"></div>
                <h1>Finished Goals</h1>
                <button>Check</button>
            </div>
        </div>
        <div class="goals-create">
            <h1>Create Goal:</h1>
        </div>
        <div class="goals-list">
            <h1>Your Goals:</h1>
        </div> 
        <div class="goals-finished">
            <h1>Finished Goals:</h1>
        </div>         
    </div>
    <!--JS-->
    <script src="{% static 'js/goals.js' %}"></script>
</body>
</html>