{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Turtle Spend</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/graphs.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <div class="nav-links">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'history' %}">History</a></li>
                    <li class="underline"><a href="{% url 'graphs' %}">Graphs</a></li>
                    <li><a href="{% url 'goals' %}">Goals</a></li>
                    <li><a href="{% url 'tips' %}">Tips</a></li>
                    <li class="acc-links"><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            <img src="{% static 'images/menu-btn.png' %}" class="menu-btn">
        </nav>
        <div class="income">
            <img src="data:image/png;base64,{{ chart_data_1 }}" alt="income graph" class="income-graph">
        </div>
        <div class="expense">
            <img src="data:image/png;base64,{{ chart_data_2 }}" alt="income graph" class="expense-graph">
        </div>
    </div>
    <!--JS-->
    <script src="{% static 'js/graphs.js' %}"></script>
</body>
</html>