{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
    <title>Turtle Spend</title>
</head>
<body>
    {% csrf_token %}
    <div class="container">
        <nav class="navbar">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <div class="nav-links">
                <ul>
                    <li><a href="#">History</a></li>
                    <li><a href="#">Graphs</a></li>
                    <li><a href="#">Goals</a></li>
                    <li><a href="#">Tips</a></li>
                    <li class="acc-links"><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            <img src="{% static 'images/menu-btn.png' %}" class="menu-btn">
        </nav>
        <div class="section-1">
            <img src="{% static 'images/first-view-background.png' %}" class="first-view-background">
        </div>
    </div>
    <!--JS-->
    <script src="{% static 'js/master.js' %}"></script>
</body>
</html>