{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <title>Turtle Spend</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/login.css' %}">
</head>
 <body>
  <div class="reg-container">
    <div class="reg-box">
      <h1>Login</h1>
      <form action="" method="post">
        {% csrf_token %}
        <div class="form-box">
          <!--username-->
          <label for="username">Username</label>
          <input type="text" name="username" placeholder="Username" required>
          <!--password-->
          <label for="password">Password</label>
          <input id="password" type="password" name="login_pass" placeholder="Password" required>
          <p href="#">Forgot a password?</p>    
        </div>
        <div class="sub-box">
          <!--Login-->
          <input class="register-sub" type="submit" value="Login" name="login_submit">
          <!--I_have_acc-->
          <a href="{% url 'register' %}">Create your account</a>
          <a href="{% url 'master' %}">Back to welcome site</a>
          {% if error_message %}
              <p class="error-message">{{ error_message }}</p>
          {% endif %}
          {% if messages %}
          <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
          </ul>
          {% endif %}
        </div>
      </form>
    </div>
  </div>
  <!--JS-->
  <script src="{% static 'js/login_js.js' %}"></script>
 </body>
</html>