{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/login_css.css' %}">
    <script src="{% static 'js/login_js.js' %}"></script>
  </head>
  <body>
    <img src="{% static 'images/money.png' %}" alt="Money icons created by Smashicons - Flaticon" class="img-money">
    <div class="login_container">
      <h1 class="center">Login</h1>
      <form method="post">
        {% csrf_token %}
        <!--username-->
        <label for="username">Username</label><br>
        <input type="text" name="username" id="login" placeholder="Username" required><br><br>
        <!--password-->
        <label for="password">Password</label><br>
        <input type="password" name="login_pass" id="login" placeholder="Password" required>
        <p class="must_contain" href="">I don't remember a password.</p><br>
        <!--submit-->
        <button id="login_submit" type="submit">Login</button><br><br>
        <!--Login-->
        <a href="{% url 'signup' %}">Register Here</a>
        {% if error_message %}
          <p class="error-message">{{ error_message }}</p>
        {% endif %}
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
      </form>
    </div>
  </body>
</html>