{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/master.css' %}">
    <script>history.scrollRestoration = "manual"</script>
    <title>Turtle Spend</title>
</head>
<body>
    {% csrf_token %}
    <div class="container">
        <nav class="navbar">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <div class="nav-links">
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Update</a></li>
                    <li><a href="#">Contact</a></li>
                    <li class="acc-links"><a href="{% url 'login' %}">Login</a></li>
                    <li class="acc-links"><a href="{% url 'register' %}">Register</a></li>
                </ul>
            </div>
            <img src="{% static 'images/menu-btn.png' %}" class="menu-btn">
        </nav>
        <div class="section-1">
            <div class="text-1">
                <p class="p-1 anim-1">Take Control</p>
                <p class="p-1 anim-2">of your finances.</p>
                <p class="p-2 anim-3">Take care of fulfilling your dreams.</p>
            </div>
        </div>
        <div class="section-2">
            <div class="second-view">
                <div class="object-1">
                    <img src="{% static 'images/control.png' %}">
                    <h2>MANAGE</h2>
                    <div class="description">
                        <p>Managing your expenses can be a daunting task, but with the help of our site it becomes easier to keep track of your spending habits. This app provides a user-friendly interface and allows you to monitor your budget and expenses effectively.</p>
                    </div>
                </div>
                <div class="object-2">
                    <img src="{% static 'images/charts.png' %}">
                    <h2>GRAPHS</h2>
                    <div class="description">
                        <p>With our site you can easily monitor your expense trends and track your spending habits. These visual representations of your budget allow you to quickly identify areas where you may be overspending or areas where you can cut back.</p>
                    </div>
                </div>
                <div class="object-3">
                    <img src="{% static 'images/goals.png' %}"> 
                    <h2>GOALS</h2>
                    <div class="description">
                        <p>We offer a goal-setting feature that allows you to set achievable financial objectives and track your progress towards them. Whether you are saving for a vacation or something this app can help you stay on track and motivated.</p>
                    </div> 
                </div>
            </div>
        </div>
        <div class="section-3">
            <div class="third-view">
                <div class="mobile-1">
                    <img src="{% static 'images/hand.png' %}"> 
                </div>
                <div class="mobile-2">
                    <div class="text-android-ios">
                        <h2>CHECK OUR APP</h2>
                        <h4>Manage your finance everywhere</h4>
                        <h2>DOWNLOAD</h2>
                        <h4>App on Android and IOS</h5>
                    </div>
                    <div class="android-ios">
                        <img src="{% static 'images/android.png' %}"> 
                        <img src="{% static 'images/ios.png' %}"> 
                    </div>
                </div>
            </div>
        </div>
        <footer>
            <div class="contact">
                <p>Contact:</p>
                <p>:</p>
                <p>+48 543-345-172</p>
                <p>|</p>
                <p>turtle-contact@gmail.com</p>
                <p>|</p>
                <p>PL Warsaw Planty 13</p>
            </div>
            <div class="policy">
                <p>Terms of Service</p>
                <p>|</p>
                <p>Privacy Policy</p>
                <p>|</p>
                <p>Copyright Notice</p>
                <p>|</p>
                <p>Latest News</p>
            </div>
            <p>Copyright © Turtle-Spend.com 2023</p>
        </footer>
    </div>
    <!--JS-->
    <script src="{% static 'js/master.js' %}"></script>
</body>
</html>