{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Register</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/register_css.css' %}">
    <script src="{% static 'js/register_js.js' %}"></script>
  </head>
  <body>
    <img src="{% static 'images/money.png' %}" alt="Money icons created by Smashicons - Flaticon" class="img-money">
    <div class="login_container">
      <h1 class="center">Register Here</h1>
      <form action="" method="post">
        {% csrf_token %}
        <!--username-->
        <label for="username">Username</label><br>
        <input type="text" name="username" id="login" placeholder="Username" autocomplete="off"><br><br>
        <!--e-mail-->
        <label for="email">E-mail</label><br>
        <input type="email" name="email" id="login" placeholder="E-mail"><br><br>
        <!--password-->
        <label for="password">Password</label><br>
        <input type="password" name="password" id="login" placeholder="Password"><br><br>
        <!--re-enter_password-->
        <label for="confirm_password">Confirm Password</label><br>
        <input type="password" name="confirm_password" id="login" placeholder="Re-Enter Password"><br><br>
        <!--submit-->
        <input id="login_submit" type="submit" value="Register" name="register_submit"><br><br>
        <!--I_have_acc-->
        <a href="{% url 'login' %}">I have account</a>
        {% if error_message %}
          <p class="error-message">{{ error_message }}</p>
        {% endif %}
      </form>
    </div>
  </body>
</html>