{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Turtle Spend</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tips.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <div class="nav-links">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'history' %}">History</a></li>
                    <li><a href="{% url 'graphs' %}">Graphs</a></li>
                    <li><a href="{% url 'goals' %}">Goals</a></li>
                    <li class="underline"><a href="{% url 'tips' %}">Tips</a></li>
                    <li class="acc-links"><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            <img src="{% static 'images/menu-btn.png' %}" class="menu-btn">
        </nav>
    </div>
    <div class="tips">
        <div class="wrapper">
            {% if tip1 or tip2 or tip3 or tip4 or tip5 or tip6 or tip7 %}
                {% if tip1 %}
                    <div class="tip-box">
                        <h1>Tip 1</h1>
                        <p>{{ tip1 }}</p>
                    </div>
                {% endif %}
                {% if tip2 %}
                    <div class="tip-box">
                        <h1>Tip 2</h1>
                        <p>{{ tip2 }}</p>
                    </div>
                {% endif %}
                {% if tip3 %}
                    <div class="tip-box">
                        <h1>Tip 3</h1>
                        <p>{{ tip3 }}</p>
                    </div>
                {% endif %}
                {% if tip4 %}
                    <div class="tip-box">
                        <h1>Tip 4</h1>
                        <p>{{ tip4 }}</p>
                    </div>
                {% endif %}
                {% if tip5 %}
                    <div class="tip-box">
                        <h1>Tip 5</h1>
                        <p>{{ tip5 }}</p>
                    </div>
                {% endif %}
                {% if tip6 %}
                    <div class="tip-box">
                        <h1>Tip 6</h1>
                        <p>{{ tip6 }}</p>
                    </div>
                {% endif %}
                {% if tip7 %}
                    <div class="tip-box">
                        <h1>Tip 7</h1>
                        <p>{{ tip7 }}</p>
                    </div>
                {% endif %}
            {% else %}
                <p>No tips today.</p>
            {% endif %}   
        </div> 
    </div>
    <!--JS-->
    <script src="{% static 'js/tips.js' %}"></script>
</body>
</html>