{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Turtle Spend</title>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/tips.css' %}">
</head>
<body>
    <div class="container">
        <nav class="navbar">
            <img src="{% static 'images/logo.png' %}" class="logo">
            <div class="nav-links">
                <ul>
                    <li><a href="{% url 'home' %}">Home</a></li>
                    <li><a href="{% url 'history' %}">History</a></li>
                    <li><a href="{% url 'graphs' %}">Graphs</a></li>
                    <li><a href="{% url 'goals' %}">Goals</a></li>
                    <li class="underline"><a href="{% url 'tips' %}">Tips</a></li>
                    <li class="acc-links"><a href="{% url 'logout' %}">Logout</a></li>
                </ul>
            </div>
            <img src="{% static 'images/menu-btn.png' %}" class="menu-btn">
        </nav>
    </div>
    <div class="tips">
        {% if tip1 or tip2 or tip3 or tip4 or tip5 or tip6 or tip7 %}
        <table>
            {% if tip1 %}
                <tr>
                    <td>Tip 1:</td>
                    <td>{{ tip1 }}</td>
                </tr>
            {% endif %}
            {% if tip2 %}
                <tr>
                    <td>Tip 2:</td>
                    <td>{{ tip2 }}</td>
                </tr>
            {% endif %}
            {% if tip3 %}
                <tr>
                    <td>Tip 3:</td>
                    <td>{{ tip3 }}</td>
                </tr>
            {% endif %}
            {% if tip4 %}
                <tr>
                    <td>Tip 4:</td>
                    <td>{{ tip4 }}</td>
                </tr>
            {% endif %}
            {% if tip5 %}
                <tr>
                    <td>Tip 5:</td>
                    <td>{{ tip5 }}</td>
                </tr>
            {% endif %}
            {% if tip6 %}
                <tr>
                    <td>Tip 6:</td>
                    <td>{{ tip6 }}</td>
                </tr>
            {% endif %}
            {% if tip7 %}
                <tr>
                    <td>Tip 7:</td>
                    <td>{{ tip7 }}</td>
                </tr>
            {% endif %}
        </table>
    {% else %}
        <p>No tips today.</p>
    {% endif %}    
    </div>
    <!--JS-->
    <script src="{% static 'js/tips.js' %}"></script>
</body>
</html>